<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Codepal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.1.min.js"
    ></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper grey darken-1">
        <!-- Toggle Light/Dark Mode -->
        <div class="left">
          <input type="checkbox" class="checkbox" id="chk" />
          <label class="label" for="chk">
            <i class="fas fa-moon"></i>
            <i class="fas fa-sun"></i>
            <div class="ball"></div>
          </label>
        </div>
        <a href="#" class="brand-logo">Codepal</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <form action="/addSite" method="POST" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input
                class="validate"
                required=""
                name="siteUrl"
                aria-required="true"
                placeholder="URL here"
                id="input1"
                type="text"
              />
              <label for="input1" data-error="wrong" data-success=""
                >Site URL</label
              >
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input
                name="siteTitle"
                placeholder="Title here"
                id="siteTitle"
                type="text"
              />
              <label for="siteTitle" data-error="wrong" data-success=""
                >Site Title</label
              >
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea
                class="validate materialize-textarea"
                name="siteDescription"
                required=""
                aria-required="true"
                placeholder="Description here"
                id="textarea1"
              ></textarea>
              <label for="textarea1" data-error="wrong" data-success=""
                >Description</label
              >
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input
                class="btn waves-effect waves-light"
                type="submit"
                value="Add"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const chk = document.getElementById("chk");

        chk.addEventListener("change", () => {
          document.body.classList.toggle("dark");
        });
      });
    </script>
  </body>
</html>
