@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

body.dark {
  background: #292c35;
}

body.dark .card {
  background-color: #313540;
  color: #fff;
  opacity: 0.9;
}

body.dark .pink-text {
  color: #ff4081 !important;
}

div > .left {
  margin: 1rem 2rem;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
  font-size: 20px !important;
}

.fa-sun {
  color: #f39c12;
  font-size: 20px !important;
}

@media screen and (max-width: 480px) {
  .fa-moon,
  .fa-sun {
    margin-top: 2.5rem !important;
  }
}
.brand-logo {
  margin-left: 2rem;
}

li a {
  font-size: 18px !important;
}

.container {
  margin-top: 3rem;
}

.card-image {
  max-height: 350px;
  overflow: hidden;
}

.card-image img {
  cursor: pointer;
  filter: brightness(70%);
  transition: filter 0.3s ease-in;
  /* Applies to img ONLY */
}

.card-image img:hover {
  filter: brightness(100%);
}

.card-action a:hover {
  text-decoration: underline;
  color: #ec407a !important;
}

body.dark .card-action {
  background-color: #d81b60 !important;
}

body.dark .card-action a {
  color: #fff !important;
}

body.dark .card-action a:hover {
  color: #fce4ec !important;
}

label {
  width: 100%;
}
.input-field label:not(.active):after {
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  -moz-transform: translateY(-140%);
  -ms-transform: translateY(-140%);
  -o-transform: translateY(-140%);
  transform: translateY(-140%);
}
/* 
tailwind below
*/
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hero {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/tt_tailwind_bg.jpg");
  background-size: cover;
}

.h-112 {
  height: 28rem;
}

.lg\:-mt-24 {
  margin-top: -6rem;
}

.h-20 {
  height: 5rem;
}

.w-20 {
  width: 5rem;
}

.w-1\/8 {
  width: 12.5%;
}

.w-7\/8 {
  width: 87.5%;
}

a {
  text-decoration: none !important;
}

input:focus {
  outline: 0;
}
